body {
  background: #040C18;
}
html{
  overflow-x: hidden;
}
.container-div {

  max-width: 1300px;
  margin: auto;
  width: 92%;
}
input,button{
    outline: none;
    color: white;
}

img {
  max-width: 100%;
}
h1 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* font-size: 62px; */
  font-weight: 800;
}
p {
  font-size: 20px;
  color: #81afdd;
}

li {
  font-size: 18px;
}

/* f8: '62px',
 f7: '34px',
 f6: '24px',
 f5: '20px',
 f4: '18px',
 f3: "16px",
 f2: "14px",
 f1: "12px" */
